*{
  font-family: 'Barlow Condensed', sans-serif;
}
.App{
  color: #dfdfdf;
}

.taskcard{
  min-height: 240px;
  background-color: #2d3436 !important;
}

.taskcard a{
  color: #e84393 !important;
  font-weight: bold;
  margin: 10px;
}

.card-action{
  display:flex;
  justify-content: center;
  align-items: center;
  color: #e84393;

  flex-direction: column;
}

.header{
  background-color: #e84393 !important;
  margin-bottom: 20px;
}

nav{
  background-color: #e84393 !important;
}

.sidenav-trigger{
  font-size: 28px;
}

.task--card{
  color: black;
}

@media(min-width:900px){
  .task--card{
    font-size: 18px;
  }
  .taskcard h5{
    font-size: 26px;
  }
}

.button-mlibro{
  background-color: #e84393;
  font-size: 28px;
  padding: 5px 20px;
  margin-left: 3px;

  border: none;
    border-radius: 2px;
    line-height: 36px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer
}

.button-mlibro:hover{
  background-color: #c62171;
}
.formular--container{
  height: 100vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.formular--container h4, .formular--container h2{
  text-align: center;
}
input[type=text]:focus{
  border-bottom: 1px solid #e84393 !important;
  -webkit-box-shadow: 0 1px 0 0 solid #e84393 !important;
  box-shadow: 0 1px 0 0 #e84393 !important;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #e84393;
  box-shadow: 0 1px 0 0 #e84393;
}
.input-field input[type=text]:focus + label {
  color: #e84393 !important;
}

.formular--container h2, .formular--container h4{
  text-shadow: 1px 1px 2px #e84393 !important;
}
.spin{
  font-size: 128px;
  animation: spin 2s infinite linear;
}

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.mobile-demo-active{
  transform: translateX(0px) !important;
  height: 100vh !important;
  width: 100vw !important;
}

.sidenav-close{
  font-size: 28px !important;
}