*{
  font-family: 'Barlow Condensed', sans-serif;
}
.App{
  color: #dfdfdf;
}

.taskcard{
  min-height: 240px;
  background-color: #2d3436;
}

.taskcard a{
  color: #e84393 !important;
  font-weight: bold;
  margin: 10px;
}

.card-action{
  display:flex;
  justify-content: center;
  align-items: center;
  color: #e84393;

  flex-direction: column;
}

.header{
  background-color: #e84393 !important;
}

nav{
  background-color: #e84393 !important;
}

.sidenav-trigger{
  font-size: 28px;
}

.task--card{
  color: black;
}

@media(min-width:900px){
  .task--card{
    font-size: 18px;
  }
  .taskcard h5{
    font-size: 26px;
  }
}

.button-mlibro{
  background-color: #e84393;
  font-size: 28px;
  padding: 5px 20px;
  margin-left: 3px;

  border: none;
    border-radius: 2px;
    line-height: 36px;
    text-transform: uppercase;
    vertical-align: middle;
    -webkit-tap-highlight-color: transparent;

    text-decoration: none;
    color: #fff;
    text-align: center;
    letter-spacing: .5px;
    -webkit-transition: background-color .2s ease-out;
    transition: background-color .2s ease-out;
    cursor: pointer
}

.button-mlibro:hover{
  background-color: #c62171;
}