*{
  font-family: 'Barlow Condensed', sans-serif;
}
.App{
  color: #dfdfdf;
}

.taskcard{
  min-height: 240px;
  background-color: #2d3436;
}

.taskcard a{
  color: #e84393 !important;
  font-weight: bold;
  margin: 10px;
}

.card-action{
  display:flex;
  justify-content: center;
  align-items: center;
  color: #e84393;

  flex-direction: column;
}

.header{
  background-color: #e84393 !important;
}

nav{
  background-color: #e84393 !important;
}

.sidenav-trigger{
  font-size: 28px;
}

.task--card{
  color: black;
}

@media(min-width:900px){
  .task--card{
    font-size: 18px;
  }
  .taskcard h5{
    font-size: 26px;
  }
}